.vs/CHIP8EMULATOR/CopilotIndices
CHIP8EMULATOR/x64/Debug/CHIP8EMULATOR.tlog
CHIP8EMULATOR/x64/Debug
x64
CHIP8EMULATOR.vcxproj.user
*.sln
*.vcxproj
*.filters
*.vsidx
.vs/CHIP8EMULATOR/v17
dependencies
